<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- Archivos de Configuracion de Conexion a la Base de Datos y del Sistema de Gestion de Documentos -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- DataSource de Conexion -->
	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>${db.driver}</value>
		</property>
		<property name="jdbcUrl">
			<value>${db.url}</value>
		</property>
		<property name="user">
			<value>${db.username}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>
		<property name="minPoolSize" value="15" />
		<property name="maxPoolSize" value="200" />
		<property name="maxStatements" value="100" />
		<property name="checkoutTimeout" value="3000" />
		<property name="idleConnectionTestPeriod" value="60" />
	</bean>


		<!-- Clase Wrapper de Hibernate para conexion a la Base de Datos -->

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
<!-- 		class="org.springframework.orm.hibernate4.annotation.AnnotationSessionFactoryBean"> -->
		
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="packagesToScan">
    <list>
        <value>org.modelo.dto</value>
    </list>
</property>
<!-- 		<property name="annotatedClasses"> -->
<!--                         <list> -->
<!--                                 <value>org.modelo.dto.Usuario</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Coordinador</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Ejecutivo</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.GerenteVenta</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.ZonaVenta</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.EspacioPublic</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Notificacion</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Sitio</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Acuerdo</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Cliente</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.AcuerdoEspacioPublic</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Pago</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Historia</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.Secretaria</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.AplazoTarea</value> -->
<!--                                  <value>org.sevenlabs.modelo.dto.PagoVendedor</value> -->
<!--                         </list> -->
<!--                 </property> -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.PostgreSQLDialect
				</prop>
				<prop key="hibernate.jdbc.use_streams_for_binary">
					true
				</prop>
				
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.c3p0.minPoolSize">5</prop>
				<prop key="hibernate.c3p0.maxPoolSize">20</prop>
				<prop key="hibernatex.c3p0.timeout">600</prop>
				<prop key="hibernate.c3p0.max_statement">50</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.c3p0.testConnectionOnCheckout">
					false
				</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.EhCacheProvider
				</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
				<prop key="hibernate.cache.use_second_level_cache">
					true
				</prop>
			</props>
		</property>

	</bean>

	<bean id="interceptorHibernate" class="org.sevenlabs.modelo.hibernate.interceptor.AuditInterceptor">
	</bean>
	
<!-- 	 TransactionManager para Hibernate -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="entityInterceptor"><ref local="interceptorHibernate"/></property>
	</bean>

	<!--  Interceptor para las Transacciones -->

	<bean id="txInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED</prop>
				<prop key="validar*">
					PROPAGATION_REQUIRED,readOnly
				</prop>
				<prop key="buscar*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="refrescar*">
					PROPAGATION_REQUIRED,readOnly
				</prop>
				<prop key="obtener*">
					PROPAGATION_REQUIRED,readOnly
				</prop>
				<prop key="construirArbol*">
					PROPAGATION_REQUIRED,readOnly
				</prop>
			</props>
		</property>
	</bean>
</beans>